.list-calculation{
    background-color: rgba(159, 233, 238, 0.847);
}
.list-calculation button{
    border: none;
    color: black;
    padding: 8px 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
}
.list-calculation button:hover{
    color: white;
    background-color: blueviolet;
}
.toast-button{
    border: none;
}
.toast-button:hover{
    background-color: red!important;
}