.exercise img{
    height: 200px;
}
.exercise p{
    font-size: 15px;
}
.exercise button{
    color: white;
    border: none;
    border-radius: 15px;
}
.exercise button:hover{
    background-color: red !important;
}